<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tienda en Línea</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="ejemplo9.html">Back</a>
        <a href="index.html">Home</a>
        <a href="ejemplo3.html">Next</a>
        <div>
            <h1 style="text-align">Home</h1>
            <p>Bienvenidos a la página de la Tienda en Línea</p>
        </div>
        <div>
            <p style='text-align:left'>Lorem ipsum dolor sit amet consectetur adipiscing elit, sodales quis scelerisque pulvinar aptent dictumst iaculis, torquent himenaeos lobortis nullam placerat sapien. </p>
            <p style='text-align:right'>Dui cubilia natoque semper cum taciti cursus massa nulla magnis dignissim, torquent imperdiet lacinia aenean at justo hendrerit parturient.</p>
            <p style='text-align:center'>Sem eget consequat laoreet porttitor nulla dui mollis, vitae massa potenti mi dapibus netus a, curabitur eros bibendum egestas tristique est ut.</p>
        </div>
        
        <br>
        <br>
        <p>Última Línea</p>
        
    </body>
</html>
