<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Ejemplo 5</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="ejemplo4.html">Back</a>
        <a href="index.html">Home</a>
        <a href="ejemplo6.html">Next</a>
        <h1>Ejemplos de formateo de texto</h1>
        
        <p>Lorem ipsum <strong>dolor sit </strong>amet consectetur adipiscing elit, sodales quis scelerisque pulvinar aptent dictumst iaculis, torquent himenaeos lobortis nullam placerat sapien. </p>
        <p>Dui cubilia natoque <span style='font-family:Comic Sans MS;font-size: 16px;background-color: white'>semper cum <u>taciti cursus </u> massa nulla magnis</span> dignissim, torquent imperdiet lacinia aenean at justo hendrerit parturient.</p>
        <p>La fórmula del agua es: H<sub>2</sub>O</p>
    </body>
</html>
