<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tienda en Línea</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1 style="text-align">Home</h1>
            <p>Bienvenidos a la página de la Tienda en Línea</p>
        </div>
        
        <p>Lorem ipsum <strong>dolor sit </strong>amet consectetur adipiscing elit, sodales quis scelerisque pulvinar aptent dictumst iaculis, torquent himenaeos lobortis nullam placerat sapien. </p>
        <p>Dui cubilia natoque semper cum <u>taciti cursus </u> massa nulla magnis dignissim, torquent imperdiet lacinia aenean at justo hendrerit parturient.</p>
        <p>Sem eget consequat <i>laoreet porttitor </i>nulla dui mollis, vitae massa potenti mi dapibus netus a, curabitur eros bibendum egestas tristique est ut.</p>
        
        <br>
        <br>
        <p><strong><u><i>Última Línea</i></u></strong></p>
        
    </body>
</html>
