<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Ejemplo 7</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a name="arriba"></a>
        <a href="ejemplos6.html">Home</a>
        <a href="index.html">Home</a>
        <a href="ejemplos8.html">Next</a>
        <h1>Ejemplos de Enlaces</h1>
        <a href="#abajo">Ir Abajo</a>
        
        <h2>Enlaces Externos</h2>
        <a href="https://getlorem.com/es" target="_blank">Get Lorem</a>
        
        <p>Gravida massa fringilla felis eleifend magna, congue himenaeos senectus quis dignissim neque, lacinia porta litora enim.</p>
        <p>Dui mus conubia ornare feugiat vestibulum nascetur sociis curabitur bibendum interdum, vel lacinia eleifend risus habitasse tellus accumsan hendrerit facilisis inceptos ut.</p>
        <p>scelerisque leo erat nostra nulla egestas felis viverra cum.</p>
        
        <p>Gravida massa fringilla felis eleifend magna, congue himenaeos senectus quis dignissim neque, lacinia porta litora enim.</p>
        <p>Dui mus conubia ornare feugiat vestibulum nascetur sociis curabitur bibendum interdum, vel lacinia eleifend risus habitasse tellus accumsan hendrerit facilisis inceptos ut.</p>
        <p>scelerisque leo erat nostra nulla egestas felis viverra cum.</p>
        
        <p>Gravida massa fringilla felis eleifend magna, congue himenaeos senectus quis dignissim neque, lacinia porta litora enim.</p>
        <p>Dui mus conubia ornare feugiat vestibulum nascetur sociis curabitur bibendum interdum, vel lacinia eleifend risus habitasse tellus accumsan hendrerit facilisis inceptos ut.</p>
        <p>scelerisque leo erat nostra nulla egestas felis viverra cum.</p>
        
        <p>Gravida massa fringilla felis eleifend magna, congue himenaeos senectus quis dignissim neque, lacinia porta litora enim.</p>
        <p>Dui mus conubia ornare feugiat vestibulum nascetur sociis curabitur bibendum interdum, vel lacinia eleifend risus habitasse tellus accumsan hendrerit facilisis inceptos ut.</p>
        <p>scelerisque leo erat nostra nulla egestas felis viverra cum.</p>
        
        <p>Gravida massa fringilla felis eleifend magna, congue himenaeos senectus quis dignissim neque, lacinia porta litora enim.</p>
        <p>Dui mus conubia ornare feugiat vestibulum nascetur sociis curabitur bibendum interdum, vel lacinia eleifend risus habitasse tellus accumsan hendrerit facilisis inceptos ut.</p>
        <p>scelerisque leo erat nostra nulla egestas felis viverra cum.</p>
        
        <p>Gravida massa fringilla felis eleifend magna, congue himenaeos senectus quis dignissim neque, lacinia porta litora enim.</p>
        <p>Dui mus conubia ornare feugiat vestibulum nascetur sociis curabitur bibendum interdum, vel lacinia eleifend risus habitasse tellus accumsan hendrerit facilisis inceptos ut.</p>
        <p>scelerisque leo erat nostra nulla egestas felis viverra cum.</p>
        
        <p>Gravida massa fringilla felis eleifend magna, congue himenaeos senectus quis dignissim neque, lacinia porta litora enim.</p>
        <p>Dui mus conubia ornare feugiat vestibulum nascetur sociis curabitur bibendum interdum, vel lacinia eleifend risus habitasse tellus accumsan hendrerit facilisis inceptos ut.</p>
        <p>scelerisque leo erat nostra nulla egestas felis viverra cum.</p>
        
        <a href="#arriba">Ir Arriba</a>
        <a name="abajo"></a>
    
    
    </body>
</html>
