<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tienda en Línea</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static.style/estilos.css" type="text/css">
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a href="index.html" class="logo nav-link">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="audios.html">Audios</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="video.html">Videos</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="iframe.html">iFrame</a></li>
                </ul>
            </nav>
        </header>
        <aside class="aside">
            <h2>Más Vendidos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit torquent risus natoque ultrices imperdiet, at luctus lobortis class posuere elementum, viverra venenatis porttitor primis quis. Euismod phasellus nostra placerat iaculis per duis aenean, velit ornare mattis quisque gravida nisl justo porta, interdum conubia nisi fames turpis aliquet. Enim semper velit hendrerit facilisi mattis at ut dignissim metus, leo parturient dis ultricies nisl cras aptent.</p>
        </aside>
        <section class="section">
            <article>
                <header><h3>Torpedo</h3></header>
                <figure>
                    <video width="320" height="240" controls autoplay muted>
                        <source src="../static.video/torpedo.mp4" type="video/mp4">
                        Su explorador no soporta el formato del video <code>video</code>
                    </video>
                    <figcaption>Realizada en 2021</figcaption>
                </figure>
            </article>
        </section>
        <footer class="footer">
            <p>Derechos Reservados</p>
        </footer>
    </body>
</html>
