<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="contenido">
        <h2>Ejemplos de Videos</h2>
        <article>
            <header><h3>Torpedo</h3></header>
            <figure>
                <video width="320" height="240" controls autoplay muted>
                    <source src="../static.video/torpedo.mp4" type="video/mp4">
                    Su explorador no soporta el formato del video <code>video</code>
                </video>
                <figcaption>Realizada en 2021</figcaption>
            </figure>
        </article>
    </section>
    <footer id="piepagina">Derechos reservados</footer>
</body>
</html>